extends layout

block content
  h1= title
  p Welcome to #{title}
  p User: #{user}
  a(href='/auth') Войти через ВК
  a(href='/logout') Выйти из АИС
  a(href='/users') Список пользователей в консоль
  a(href='/utable') Пересоздать таблицу пользователей (!)
  blockquote Обязательно выйти из АИС, иначе – перезапуск приложения


  

