extends layout

block content
  h1= title
  p Welcome to #{title}
  p User: #{user}
  p
    a(href='/auth') Войти через ВК
  p
    a(href='/logout') Выйти из АИС
  p
    a(href='/users') Список пользователей в консоль
  p
    a(href='/utable') Пересоздать таблицу пользователей (!)
    p Обязательно выйти из АИС, иначе – перезапуск приложения


  

